<form action="{{ url_for('index') }}" method="POST">
    {{form.csrf_token}}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">{{form.start_date.label}}</div>
            <div class='col-sm-2'>{{form.end_date.label}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">{{form.start_date(autocomplete="off",class="form-control")}}</div>
            <div class="col-sm-2"> {{form.end_date(autocomplete="off",class="form-control")}}</div>
            <div class="col-sm-1.5">{{form.submit(class="form-control")}}</div>
        </div>
    </div>
</form>