[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
pywin32 = "*"
"discord.py" = "*"
pyqt5 = "*"
pyqt5-stubs = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python -m thoughtful_termites"
lint = "python -m flake8"
