<!DOCTYPE html>
<html>
  <head>
    {% include "styling.html" %}
  </head>
  <body>
    {% include "header.html" %}

    <div class="container">
      <h1 class="display-4">Currently available carpools</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Created by</th>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Summary</th>
          </tr>
        </thead>
        <tbody>
          {% for carpool in carpools %}
          <tr>
            <td>{{ carpool["creator"]["name"] }}</td>
            <td>{{ carpool["id"] }}</td>
            <td>{{ carpool["time_created"].strftime("%d-%m-%Y %H:%M:%S") }}</td>
            <td>{{ carpool["summary"] }}</td>
            <td>
              <a
                class="btn btn-outline-secondary"
                href="/carpools/{{ carpool['id'] }}"
                >View page</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
