{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-4">Log in</h1>
    {% include "flashes.html" %}
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-outline-primary mb-2" type="submit">
    </form>
</div>
{% endblock %}