[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
pyglet = "==1.4.0b1"
pyqtree = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "python -m flake8"
