<div class="indicator my-5 tab-pane" id="{{ indicator.name }}" role="tabpanel" aria-labelledby="{{ indicator.name }}-tab">
    <div class="row">
        <div class="col-10">
            <h2 class="text-secondary text-left">{{ indicator.label }}
                <small class="text-muted">
                    {{ '{0:+0.2f}'.format(indicator.rate * 100) }}%
                </small>
            </h2>
        </div>
        <div class="col text-right">
            <button type="button" class="btn btn-info" data-toggle="tooltip" title="{{ indicator.description }}">
                More Info
            </button>
        </div>
    </div>
    <div class="graph"></div>
</div>
