<div class="mx-auto" style="width: 50%">
    <form action="/search" method="post">
        <div class="input-group mb-3">
            <!-- <label for="location">Location</label> -->
            <input type="text" name="name" class="form-control" id="name" required>
            <input type="hidden" name="location" id="location">
            <div class="input-group-append">
                <input value="Search" class="btn btn-outline-secondary" type="submit" id="button-addon2">
            </div>
        </div>
    </form>
</div>
<script>
    let inputName = document.getElementById('name');
    let inputLocation = document.getElementById('location');
    autocomplete = new google.maps.places.Autocomplete(inputName);
    autocomplete.setFields(['geometry']);
    autocomplete.setComponentRestrictions({'country': ['us']});

    autocomplete.addListener('place_changed', () => {
        let place = autocomplete.getPlace();
        let location = JSON.stringify(place.geometry.location);
        inputLocation.setAttribute('value', location);
    });
</script>
