<div class="mx-auto" style="width: 50%">
    <form action="/search" method="post">
        <div class="input-group mb-3">
            <!-- <label for="location">Location</label> -->
            <input type="text" name="location" class="form-control" id="location" required>
            <div class="input-group-append">
                <input value="Search" class="btn btn-outline-secondary" type="submit" id="button-addon2">
            </div>
        </div>
    </form>
</div>
<script>
    let input = document.getElementById('location');
    autocomplete = new google.maps.places.Autocomplete(input);
</script>
