{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="display-4">Search results for "{{ query }}"</h1>
        
        {% include "flashes.html" %}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in results %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
